.work-container {
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
  padding: 2rem 1rem 5rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);

  .work-heading {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 4rem;
    align-items: center;
    h2 {
      font-size: 2.6rem;
      letter-spacing: 1px;
      color: rgba(255, 216, 0, 1);
    }
    h3 {
      font-size: 1.3rem;
      text-align: right;
    }
  }

  .work-cards {
    margin: 2rem auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 1rem;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .work-container {
    .work-heading {
      h2 {
        font-size: 4rem;
        letter-spacing: 5px;
      }
      h3 {
        font-size: 2rem;

        letter-spacing: 3px;
      }
    }
    .work-cards {
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  .work-container {
    .work-heading {
      gap: 3rem;
      h2 {
        font-size: 4rem;
        letter-spacing: 5px;
      }
      h3 {
        font-size: 2.2rem;

        letter-spacing: 3px;
      }
    }
    .work-cards {
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;
    }
  }
}
